
body {
	margin: 0;
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #f4f4f4;
}

a {
	color: #000;
	text-decoration: none;
}


header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	font-size: 18px;
}

nav a:hover {
	color: #f5d742;
}

h1 {
	font-size: 48px;
	margin: 0;
}

.subheading {
	font-size: 24px;
	margin: 10px 0;
}


.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.column {
	flex: 1;
	padding: 0 10px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}


section {
	margin: 50px 0;
}


footer {
	background-color: #ccc;
	padding: 20px;
	text-align: center;
	font-size: 14
}